*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.bb{
    border:2px solid black;
}

.bw{
    border:2px solid white;
}

.br{
    border:2px solid red;
}

#cardCont{
    background-image: url("./src/img/background.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
